@use "../../abstracts" as *;

.smallSideBar{
    width:72px;
    position: fixed;
    left: 0;
   top:56px;
      padding: 0 4px;
      font-size: 10px;
      font-weight: 400;
    .listItem{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 64px;
        padding: 16px 0 14px;
        cursor: pointer;
        gap:6px;
        &:hover {
            border-radius: 10px;
            background-color: #303030 !important;
          }
    }
    .sidebarIconbox{
        margin-bottom: 6px;
        display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    vertical-align: middle;
    }
  
}