body{
  margin: 0;


}
.inactive{
  background-color: #646cff;
  color: white !important;

 
}


.active:hover {
  background-color: #646cff;
  color: white;
 
 }

 .snowApp{
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  max-height: 100vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color:#646cff;

}

 .snowApp button{


    border-radius: 8px;
    border: 1px solid #646cff;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: background-color 0.25s;
    color:#646cff;
    font-weight: 800;

  

 }