$bg-color:#0f0f0f;
$bg-nav-color:#202020;
$bg-color-active:#ffffff1a;
$bg-sidebar-color:#212121;
$bg-color-hover:#ffffff25;
$text-color:#f5f5f5;
$subtext-color:#aaaaaa;
$font-size:13px;
$font-size-small:11px;
$icon-size:2.5rem;
$border-color:hsl(0, 0%, 18.82%);
$btn-bg:hsl(0, 0%, 7%);
